RewriteEngine On
RewriteRule ^job/([0-9]+)/[^/]+/?$ /job.php?id=$1 [L,QSA]
RewriteRule ^job/([0-9]+)/?$ /job.php?id=$1 [L,QSA]
RewriteRule ^jobs/([^/]+)/([^/]+)/?$ /seo-jobs.php?keyword=$1&location=$2 [L,QSA]
RewriteRule ^jobs/([^/]+)/?$ /seo-jobs.php?keyword=$1 [L,QSA]
